# {{name}}

{{#summary}}
{{summary}}
{{/summary}}

**Namespace:** {{namespace}}  
**Type:** Enum

{{#syntax}}
## Syntax

```csharp
{{syntax}}
```

{{/syntax}}
{{#remarks}}
## Remarks

{{remarks}}

{{/remarks}}
## Values

{{#fields}}
### <a id="{{uid}}"></a> {{name}}

{{#summary}}
{{summary}}
{{/summary}}

{{#remarks}}
{{remarks}}
{{/remarks}}

{{/fields}}
